:root {
  --mainBlue: #26266b;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #1e1f20;
  --mainOrange: #ffa400;
  --mainGreen: rgb(68, 241, 33);
  --mainRed: #ff2d12ec;
  --secWhite: rgb(224, 255, 255);
  

}

body {
  font-family: 'Oswald', sans-serif !important ;
  background: var(--mainWhite) !important;
  color: var(--mainDark);
}

.text-title {
  font-family: 'Premanent Marker', cursive;
  letter-spacing:  0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.2rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background:  var(--mainDark) !important;
  color:  var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size:  1.2rem;
  color:  var(--mainOrange);
}

.cart-summary-box {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}